body {
    background-color: rgb(199, 233, 238);
    font-family: sans-serif;
  }

h1 {
    color: rgb(32, 32, 185);
    font-size: large;
}


h2 {
    color: rgb(0, 0, 0);
    font-size: medium;

}

p {
    color: rgb(0, 0, 0);
    font-size: medium;
  }